* {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;
  -ms-user-select: none;
  -webkit-user-drag: none;
  /* stroke: none; */
  outline: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
hr {
  display: none;
}
button {
  cursor: pointer;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  font-family: "Poppins", sans-serif;
}

.header-container {
  display: flex;
  font-size: 30px;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 10%;
  font-family: "Poppins";
}

a.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4%;
  font-size: 1.75em;
}

.menu-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.35em;
}

span.cl-avatarBox.cl-userButtonAvatarBox.🔒️.cl-internal-14s4tiz {
  height: 100%;
  width: 100%;
}
.desktop-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
span.logoname {
  font-family: "Arial";
  font-weight: 800;
}
a.btn-outline {
  padding: 1.25em 3em;
  font-size: 20px;
  font-weight: 100;
  transition: all ease 0.5s;
  border: 1px solid;
  border-radius: 5rem;
  cursor: pointer;
}

a.btn-outline:hover {
  background: black;
  color: white;
}

.heroh1 span {
  font-size: 2em;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}
.flexo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.p-6.pt-0.flexoCar {
  width: 27rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.rounded-lg.border.bg-card.text-card-foreground.shadow-sm.flexocard {
  border: none;
  box-shadow: none;
}

.flexo {
  margin: 4% 2%;
}

h3.flexh3 {
  font-size: 20px;
  font-weight: 700;
  margin: 5% 0% 3% 0;
}
.relative.w-full.h-\[400px\] {
  height: 80vh;
}
.mx-auto.mt-6.flex.w-full.max-w-2xl.flex-col.items-center.justify-center.space-y-4.sm\:flex-row.sm\:space-x-4.sm\:space-y-0 {
  position: absolute;
  top: 63%;
  left: 6%;
}

.Herodv.position-relative {
  position: relative;
}
.relative.w-full.h-\[400px\] div {
  border-radius: 5rem 5rem 0 0;
}
.ig {
  width: 100%;
  height: 22rem;
  border-radius: 2rem 2rem 10rem 10rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 11px 20px 0px #00000029;
}

.Doctors {
  display: flex;
  flex-wrap: wrap;
  padding: 4% 0%;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
}

p.dp {
  width: 100%;
  font-size: 13px;
  text-align: center;
  padding: 0% 14%;
}

.Doc {
  width: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #e0e0e0;
  border-radius: 2rem;
}

h2.dh2 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin: 9% 0% 2% 0;
}

.docton {
  margin: 3% 0;
  border-radius: 5rem;
  border: 1px solid;
  transition: all ease 0.5s;
  cursor: pointer;
  padding: 2em 1.25em;
  font-size: 13px;
}

.docton:hover {
  background: black;
  color: white;
}

h2.text-2xl.font-bold {
  text-align: center;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2.text-2xl.font-bold::after {
  width: 10%;
  content: "";
  display: block;
  background: black;
  height: 5px;
  margin: 0.75% 5%;
}
h1.hed {
  text-align: center;
  color: #0000;
  margin: 1%;
  font-family: Arial Black;
  filter: hue-rotate(110deg);
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNTRjPJPyhRxLJwNQyVP5h43wC67e0FOtv9Q&s");
  background-clip: text;
  font-size: 10rem;
  background-size: cover;
  font-weight: 900;
  line-height: 100%;
}

.doclis.mt-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button.inline-flex.items-center.justify-center.whitespace-nowrap.rounded-md.text-sm.font-medium.ring-offset-background.transition-colors.focus-visible\:outline-none.focus-visible\:ring-2.focus-visible\:ring-ring.focus-visible\:ring-offset-2.disabled\:pointer-events-none.disabled\:opacity-50.border.border-input.hover\:bg-accent.hover\:text-accent-foreground.h-10.px-4.py-2.bg-primary.text-white.mt-3 {
  color: black;
  padding: 3% 3%;
  border-radius: 9rem;
  font-size: 20px;
  cursor: pointer;
  background: white;
  transition: all ease 0.5s;
  border: 1px solid;
}

button.inline-flex.items-center.justify-center.whitespace-nowrap.rounded-md.text-sm.font-medium.ring-offset-background.transition-colors.focus-visible\:outline-none.focus-visible\:ring-2.focus-visible\:ring-ring.focus-visible\:ring-offset-2.disabled\:pointer-events-none.disabled\:opacity-50.border.border-input.hover\:bg-accent.hover\:text-accent-foreground.h-10.px-4.py-2.bg-primary.text-white.mt-3:hover {
  background: red;
  color: white;
}
a.items-center.justify-center.whitespace-nowrap.rounded-md.text-sm.font-medium.ring-offset-background.transition-colors.focus-visible\:outline-none.focus-visible\:ring-2.focus-visible\:ring-ring.focus-visible\:ring-offset-2.disabled\:pointer-events-none.disabled\:opacity-50.bg-primary.hover\:bg-primary\/90.h-10.px-4.py-2.w-full.sm\:w-auto.text-background.flex.gap-2.coolbtn {
  padding: 8% 10%;
  border-radius: 4rem;
  border: 1px solid red;
  font-size: 1.5rem;
  background: transparent;
  transition: all ease 0.5s;
  color: red;
}

a.items-center.justify-center.whitespace-nowrap.rounded-md.text-sm.font-medium.ring-offset-background.transition-colors.focus-visible\:outline-none.focus-visible\:ring-2.focus-visible\:ring-ring.focus-visible\:ring-offset-2.disabled\:pointer-events-none.disabled\:opacity-50.bg-primary.hover\:bg-primary\/90.h-10.px-4.py-2.w-full.sm\:w-auto.text-background.flex.gap-2.coolbtn:hover {
  background: red;
  color: white;
}
.flex.justify-between.items-center.dashboard {
  margin: 0% 10%;
}

.dashbox.flex.flex-col.items-center.justify-center.gap-5.mt-5.p-7.border-2.border-dashed.border-gray-200.rounded-2xl {
  margin: 0 10%;
  padding: 4% 0%;
}

*::-webkit-scrollbar-button,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  display: none;
}
.cl-rootBox.cl-userButton-root.🔒️.cl-internal-friqq3 {
  transform: scale(0.75);
}
.menu-items nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.35em;
}
.r1 {
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  padding: 5% 5%;
  justify-content: space-between;
}

.r1 p {
  font-size: 25px;
  width: 7%;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0% 30% 0% 0%;
  font-family: "Poppins";
}
.r1 {
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  padding: 5% 5%;
  justify-content: space-between;
}

.r1 p {
  font-size: 25px;
  width: 7%;
}

h1 {
  font-size: 4rem;
  font-weight: 100;
  margin: 0% 30% 0% 0%;
  font-family: "Poppins";
}

.r2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5% 10%;
  align-items: center;
  gap: 5%;
}

.r2 h1 {
  font-size: 6rem;
  color: black;
  font-family: fantasy;
}

.r1 img {
  border-radius: 4rem;
}

.r1 h1::after {
  content: "";
  display: block;
  background: white;
  height: 2px;
  width: 39%;
  margin-left: 13%;
}
.r2 p {
  font-size: 18px;
}

.mail a {
  font-weight: 900;
}
.r1 {
  padding: 5% 10%;
}
.r1 {
  padding: 5% 10%;
}

.r1 img:hover {
  filter: invert(1);
  border: 2px solid black;
}

.r1 img {
  border: 2px solid black;
  cursor: pointer;
  transition: all ease 0.25s;
}
.cpydsv {
  background: black;
  color: white;
  padding: 2%;
  text-align: center;
}
.thrdwrp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  flex-direction: column;
}
footer.foote {
  background: white;
}

/* .r2 {
    background: white;
    border-radius: 6rem;
}

.r1 {
    border-radius: 0rem 0rem 5rem 5rem;
}

.cpydsv {
    border-radius: 5rem 5rem 0rem 0rem;
} */
.Herodv {
  min-height: 50rem;
}
.scensade {
  height: 83vh;
}

.dc {
  border-radius: 5rem;
  padding: 3.7% 4% 5% 5%;
  display: flex;
  align-items: flex-end;
  max-width: 100vw;
  width: 75%;
  justify-content: center;
  border: none;
  box-shadow: 6px -13px 0rem 0.5rem #646363 inset;
  flex-direction: row;
}

.dc h2 {
  font-size: 3.85rem;
}

.dcn h2 {
  font-size: 1.5rem;
  margin: 0% 1% 4% 0;
}

.dcn textarea {
  resize: none;
  border-radius: 2rem;
  padding: 3%;
  font-weight: 600;
  font-size: 1rem;
}

.df {
  display: flex;
  flex-direction: column;
  width: 24%;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  gap: 0;
}

.df button {
  padding: 21% 25%;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.65rem;
}
.std h2 {
  font-size: 1.5rem;
}

.std {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.stdsa {
  border-radius: 3rem;
  padding: 5em 4em;
  margin-top: 7%;
  padding-left: 15%;
  padding-right: 15%;
}
.stdsa img {
  width: 230px;
  height: 160px;
  border-radius: 3rem;
  margin: 0 4em;
}
.dc {
  gap: 4em;
}
